/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0d0d0d;
  color: white;
}

/* NAVBAR */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  border-bottom: 1px solid #222;
}

nav a {
  margin-left: 20px;
  color: #aaa;
  text-decoration: none;
}

nav a:hover {
  color: #00bcd4;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
}

.hero h1 {
  font-size: 2.8rem;
}

.hero span {
  color: #00bcd4;
}

.hero p {
  margin-top: 10px;
  color: #aaa;
}

/* SECTIONS */
section {
  padding: 50px 60px;
  max-width: 1000px;
  margin: auto;
}

h2 {
  margin-bottom: 20px;
  color: #00bcd4;
}

/* PROJECTS */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
}

.card {
  background: #111;
  padding: 15px;
  border-radius: 8px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  border: 1px solid #00bcd4;
}

/* SKILLS */
.skills span {
  display: inline-block;
  background: #00bcd4;
  color: black;
  padding: 6px 12px;
  margin: 5px;
  border-radius: 15px;
}

/* CONTACT */
.contact p {
  margin: 5px 0;
}

/* BUTTON */
.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background: #00bcd4;
  color: black;
  text-decoration: none;
  border-radius: 20px;
  font-weight: 500;
  transition: 0.3s;
}

.btn:hover {
  background: white;
  color: #00bcd4;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  color: #aaa;
  border-top: 1px solid #222;
}
